<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mp.hd3534.studyrecoder" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".RecordActivity" >
        </activity>
        <activity android:name=".GraphActivities.YearlyGraphActivity" >
        </activity>
        <activity android:name=".SelectTimeActivity" >
        </activity>
        <activity android:name=".GraphActivities.MonthlyGraphActivity" >
        </activity>
        <activity android:name=".GraphActivities.DailyGraphActivity" >
        </activity>
        <activity android:name=".ListActivity" >
        </activity>
    </application>

</manifest>
